*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body{

}
/*HEADER*//*HEADER*//*HEADER*/
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  width: 100%;
  background-color:#E2DED0;
  z-index: 2;
}
.header-elements{
  padding: 1em;
  font-size: 1.25vw;
  text-align: center;
  align-items: center;
}
.header-elements:hover{
  border: 1px solid black;
}
#AuDeDi-Header{
}
div#logo{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
div#perfil{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.perfil-elements{
  font-family: 'Roboto', sans-serif;
}
/*HEADER*//*HEADER*//*HEADER*/

/*FRONT*//*FRONT*//*FRONT*/
div#front{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 800px;
  background: url(../../../resources/fondo-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
div#front div{
  padding: 1em;
}
div#front-right{
  border-left: 3px solid black;
  background: rgba(5, 7, 12, 0.75);
}
div#front-left{
  border-right: 3px solid black;
  background: rgba(5, 7, 12, 0.75);
}

h1#AuDeDi-Front{
  position: absolute;
  top:50%;
  left: 1%;
  transform: translateY(-50%);
  font-size: 7vw;
  color: #E2DED0;
}
h1#LwOds-Front{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 4vw;
  color: #E2DED0;
}
/*FRONT*//*FRONT*//*FRONT*/

/*CONTAINER*//*CONTAINER*//*CONTAINER*/
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 3em;
  background-color: #E2DED0;
}
.bloque{
  grid-template-rows: 80% 20%;
  border-radius: 5px;
  background-color: white;
  display: block;
  border: 0px;
  shadow: 1px;
}
#bloque-elhijo{
  margin: 2em;
  animation-name: bloqueelhijoff;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  cursor: pointer;
}

#bloque-elhijo:hover{
  animation-name: bloqueelhijo;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: bloqueelhijo;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
}
#bloque-perfil{
  margin: 2em;
  animation-name: bloqueperfiloff;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  cursor: pointer;
}
#bloque-perfil:hover{
  animation-name: bloqueperfil;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: bloqueperfil;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
}
#bloque-addeditorial{
  margin: 2em;
  animation-name: bloqueaddeditorialoff;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  cursor: pointer;
}
#bloque-addeditorial:hover{
  animation-name: bloqueaddeditorial;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: bloqueaddeditorial;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
}
p#bloque-img{
  height: 70%;
  margin:25px;
  margin-bottom: 12px;
  background-color: #E2DED0;
}

b#bloque-letter{

  margin:25px;
  margin-top:12px;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
}
/*CONTAINER*//*CONTAINER*//*CONTAINER*/


/*ANIMATIONS*//*ANIMATIONS*//*ANIMATIONS*/

/*BLOQUE-ELHIJO*/

@keyframes bloqueelhijo {
  from{
    margin:2em;
  }
  to{
    margin:1em;
  }
}
@-webkit-keyframes bloqueelhijo{
  from{
    margin:2em;
  }
  to{
    margin:1em;
  }
}
@keyframes bloqueelhijoff {
  from{
    margin: 1em;
  }
  to{
    margin: 2em;
  }
}

/*BLOQUE-PERFIL*/

@keyframes bloqueperfil {
  from{
    margin:2em;
  }
  to{
    margin:1em;
  }
}
@-webkit-keyframes bloqueperfil{
  from{
    margin:2em;
  }
  to{
    margin:1em;
  }
}
@keyframes bloqueperfiloff {
  from{
    margin: 1em;
  }
  to{
    margin: 2em;
  }
}

/*BLOQUE-ADDEDITORIAL*/

@keyframes bloqueaddeditorial {
  from{
    margin:2em;
  }
  to{
    margin:1em;
  }
}
@-webkit-keyframes bloqueaddeditorial{
  from{
    margin:2em;
  }
  to{
    margin:1em;
  }
}
@keyframes bloqueaddeditorialoff {
  from{
    margin: 1em;
  }
  to{
    margin: 2em;
  }
}
