<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
    <title>ADD</title>
    <meta charset="utf-8">
    <meta name="author" content="ADD">
    <meta name="description" content="El sitio web oficial del servidor ADD">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename='styles.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>
    <header>
      <div id="logo" class="header-elements">
        <b href="/">ADD</b>
        <p id="path"> / Inicio</p>
      </div>
      <div></div>
      <div id="perfil" class="header-elements">
        <a class="perfil-elements">Sing In</a>
        <a class="perfil-elements">Sing Up</a>
        <a class="perfil-elements">Perfil</a>
      </div>
    </header>

    <div id="front">
      <div id="front-left">
        <h1 id="AuDeDi-Front"><b>AUTISTAS<br>DEL DISCORD</b></h1>
        <p id="desc1-front">El sitio web <b>oficial</b> del<br>servidor con más de 80 miembros para compartir y<br>jugar.</p>
        <p id="desc2-front">"La mejor manera de conectar, divertirse y<br>trabajar juntos" ~ 3rt0n, Administrador
      </div>
      <div id="front-right">
        <h1 id="LwOds-Front">La web OFICIAL <br>del servidor</h1>
      </div>
    </div>
    <div class="container">
      <button onclick="location.href=''" id="bloque-elhijo" class="bloque">
        <a class="bloque-button" href="#"></a>
        <p id="bloque-img" class="bloque-elements"></p>
        <p id="bloque-letter" class="bloque-elements">El Hijo</p>
      </button>
      <button onclick="location.href=''" id="bloque-perfil" class="bloque">
        <p id="bloque-img" class="bloque-elements"></p>
        <p id="bloque-letter" class="bloque-elements">Perfil</p>
      </button>
      <button onclick="location.href=''" id="bloque-addeditorial" class="bloque">
        <p id="bloque-img" class="bloque-elements"></p>
        <p id="bloque-letter" class="bloque-elements">ADDeditorial</p>
      </button>
    </div>
    <div class="container-wave">
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #ffffff;"></path>
      </svg></div>
    </div>
    <div class="container-2">

    </div>
  </body>
</html>
