<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
    <title>ADD OFFICIAL WEB</title>
    <meta charset="utf-8">
    <meta name="author" content="AutistasDelDiscord">
    <meta name="description" content="El sitio web oficial del servidor Autistas Del Discord">
    <link rel="stylesheet" href="view/styles.css">
  </head>

  <body>
    <header>
      <div id="logo" class="header-elements">
        <p>LOGO</p>
        <a href="index.html">ADD</a>
      </div>
      <p id="AuDeDi-Header" class="header-elements">Autistas del Discord</p>
      <div id="perfil" class="header-elements">
        <a href="#">Sing In</a>
        <a href="#">Sing Up</a>
        <a href="#">Perfil</a>
      </div>
    </header>

    <div id="front">
      <div id="front-left">
        <h1 id="AuDeDi-Front">AUTISTAS del<br>DISCORD</h1>
      </div>
      <div id="front-right">
        <h1 id="LwOds-Front">La web OFICIAL<br>del servidor</h1>
      </div>
    </div>
    <article class="container">
      <section class="bloque">
        <p>El Hijo</p>
      </section>
      <section class="bloque">
        <p>Perfil</p>
      </section>
      <section class="bloque">
        <p>ADDeditorial</p>
      </section>
    </article>
  </body>
</html>
