<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>404 Not Found</title>
    <meta charset="utf-8">
    <meta name="author" content="ADD">
    <meta name="description" content="El sitio web oficial del servidor ADD">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>
    <p id="txt-404">Error -404-</p>
    <img class="main-image" src="static/elhijo_commandnotfound2.png" alt="404 Not Found">
  </body>

</html>
