<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
    <title>ADD</title>
    <meta charset="utf-8">
    <meta name="author" content="ADD">
    <meta name="description" content="El sitio web oficial del servidor ADD">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename='styles.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>
    <header>
      <div id="logo" class="header-elements">
        <b id="ADD" onclick="location.href='/'">ADD</b>
        <p id="path"> / Perfil</p>
      </div>
      <div></div>
      <div id="perfil" class="header-elements">
        <a class="perfil-elements">Log In</a>
        <a class="perfil-elements">Sign Up</a>
        <a class="perfil-elements">Perfil</a>
      </div>
    </header>
    <h1 id="t">PROFILE</h1>
  </body>

</html>
